{
    "presets": [
        "babel-preset-expo",
        ["env", {
            "targets": {
                "browsers": ["last 2 Chrome versions"]
            }
        }],
        "react",
        "stage-0"
    ],
    "plugins": [
        "lodash",
        ["babel-plugin-styled-components", {
            "ssr": true
        }]
    ]
}
